@model IEnumerable<WebApplication1.Models.yellow_tripdata_2016_08>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">
            DataTables Advanced Tables
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <table class="table table-striped table-hover">
                    <tr  class="info">
                        <th>
                            @Html.DisplayNameFor(model => model.C_VendorID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tpep_pickup_datetime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tpep_dropoff_datetime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.passenger_count)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.trip_distance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RatecodeID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.store_and_fwd_flag)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PULocationID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DOLocationID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.payment_type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.fare_amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.extra)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mta_tax)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tip_amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tolls_amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.improvement_surcharge)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.total_amount)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.C_VendorID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tpep_pickup_datetime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tpep_dropoff_datetime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.passenger_count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.trip_distance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RatecodeID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.store_and_fwd_flag)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PULocationID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DOLocationID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payment_type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fare_amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.extra)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mta_tax)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tip_amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tolls_amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.improvement_surcharge)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.total_amount)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>