@model IEnumerable<WebApplication1.Models.green_16_dec>

@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/d3")
@Scripts.Render("~/bundles/nouislider")
@Scripts.Render("~/bundles/anymap")
@Styles.Render("~/Content/nouislider")
@Styles.Render("~/Content/anymap")
<div>
    <!--

    <table class="table table-responsive">
        <tr id="graphs">
            <td class="graph">
                <div id="chordDiagram"></div>
            </td>
            <td class="graph">
                <div id="anymap"></div>

            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr align="left">
                        <td>
                            Trips displayed:&nbsp;
                        </td>
                        <td id="tripCount" style="font-weight:bold;">89885</td>
                    </tr>
                    <tr>
                        @*<td><button id="btn_PU" type="button" class="btn btn-danger control-widget">By Pickup</button></td>
                            <td><button id="btn_DO" type="button" class="btn btn-info control-widget">By Dropoff</button></td>*@
                        <td><button id="btn_pause" type="button" class="btn btn-danger control-widget"><i class="fa fa-pause" aria-hidden="true"></i>&nbsp;Animation</button></td>
                    </tr>

                </table>
            </td>
            <td>
                <div id="zoneSlider" data-toggle="popover" data-placement="bottom" data-content="Adjust taxizones"></div><br /><br /><br />
                <div id="timeSlider" data-toggle="popover" data-placement="bottom" data-content="Adjust hour range (Pending fix)"></div><br /><br /><br />

            </td>
            <td></td>
        </tr>
    </table>
        -->
    <div id="graphs">
        <div id="chordDiagram"></div>
        <div id="anymap"></div>
    </div>
    <div id="controller">
        <div class="controlsWrapper">
            <h3>Trips displayed: <span id="tripCount">89885</span></h3>
            <button id="btn_pause" type="button" class="btn btn-danger control-widget"><i class="fa fa-pause" aria-hidden="true"></i>&nbsp;Animation</button>
        </div>
        <div class="slidersWrapper" id="zoneSlider" data-toggle="popover" data-placement="bottom" data-content="Adjust taxizones"></div>
        <div class="slidersWrapper" id="timeSlider" data-toggle="popover" data-placement="bottom" data-content="Adjust hour range (Pending fix)"></div>
    </div>
    <div id="loading" style="display:none;">
        <span>
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            Loading...
        </span>
    </div>
</div>

<script>
    function local() {
        limit = 263, zone1 = 1, zone2 = 20, time1 = 9, time2 = 15; // Some global variables needed.
        type = "PU";  // The default order of TaxiZones is by pickup [PU] counts

        zoneSlider = document.getElementById('zoneSlider');
        timeSlider = document.getElementById('timeSlider');

        // Some default values to play with, before the server returns actual data
        tripMatrix = countT[0];
        taxizones = zoneT[0];
    // Assign random colors to chords
        jQuery.each(taxizones, function (i, val) {
            val.color = '#' + Math.random().toString(16).slice(2, 8).toUpperCase();
        });
        zones = $.extend(true, [], taxizones);

        connectorData = null;
        dataSet = anychart.data.set(zones);

        zoneTN = [];
        countTN = [];
    }

    $(function () {
        local();
        renderMap();
        formatJSON();
        initSliders();
        $('[data-toggle="popover"]').popover({
            trigger: 'manual'
        });
        $('#timeSlider').popover('show');
        $('#zoneSlider').popover('show');

        $("#btn_PU").click(function () {
            type = "PU";
            retrieve(limit, type, time1, time2);
        });

        $("#btn_DO").click(function () {
            type = "DO";
            retrieve(limit, type, time1, time2);
        });

        $("#btn_local").click(function () {
            //local();
            //zoneSlider.noUiSlider.set([1, limit]);
            //console.log(zones);
            //console.log(tripMatrix);
        });

        $('#btn_pause').click(function (e) {
            e.preventDefault();
            toggleAnimation();
        });
        chordAnimation();
        //retrieveLocal(0);
    });


    function retrieveLocal(time) {
        var start = time;
        var end = time + 1;
        if (time == 24) {
            console.log(JSON.stringify(zoneTN));
            console.log(JSON.stringify(countTN));
        }
        else
        {
            if (time == 23) {
                end = 0;
            }
            $.ajax({
                type: 'POST',
                url: "@Url.Action("RetrieveTopZones", "Home")",
                data: { limit: 263, type: "PU", time1: start, time2: end },
                success: function (res) {
                    var pu_v = JSON.parse(res[1]);
                    var do_v = JSON.parse(res[2]);
                    var id_v = JSON.parse(res[4]);

                    taxizones = JSON.parse(res[0]);
                    // Assign random colors to chords
                    jQuery.each(taxizones, function (i, val) {
                        val.color = '#' + Math.random().toString(16).slice(2, 8).toUpperCase();
                        val.Pickup = pu_v[i];
                        val.Dropoff = do_v[i];
                        val.id = id_v[i].toString();
                    });
                    zones = $.extend(true, [], taxizones);
                    var newMatrixJson = [];
                    jQuery.each(JSON.parse(res[3]), function (i, val) {
                        var sp = val.split(',');
                        var hold = [];
                        jQuery.each(sp, function (i, val) {
                            hold.push(parseInt(val));
                        });
                        newMatrixJson.push(hold);
                    });

                    zoneTN.push(zones);
                    countTN.push(newMatrixJson);
                    retrieveLocal(time + 1);

                },
                error: function (emp) {
                    alert('Your Internet connection might be unstable, please refresh and try again.');
                }
            });
        }
    }


    // Reformat the trip matrix when conditions changes, and update related visualisations

    var targetSize = $("#chordDiagram").width() * .85;
    var marginSide = $("#chordDiagram").width() * .075;
    
    function resize() {
        targetSize = $("#chordDiagram").width() * .85;
        marginSide = $("#chordDiagram").width() * .075;
        var svg = d3.select("#chordDiagram")
            .attr("width", targetSize)
            .attr("height", targetSize);

        $('[data-toggle="popover"]').popover('show');

        outerRadius = Math.min(targetSize, targetSize) / 2 - 50,
            innerRadius = outerRadius - 18;

        arc = d3.svg.arc()
            .innerRadius(innerRadius)
            .outerRadius(outerRadius);

        path = d3.svg.chord()
            .radius(innerRadius);

        $('#circle').attr("r", outerRadius);
    }

    $(window).resize(function () {
        resize();
        renderMap();
        formatJSON();
    });

    var outerRadius = Math.min(targetSize, targetSize) / 2 - 50,
        innerRadius = outerRadius - 18;

    var viewBoxDimensions = "0 0 " + targetSize + " " + targetSize;

    // Create the arc path data generator for the groups
    var arc = d3.svg.arc()
        .innerRadius(innerRadius)
        .outerRadius(outerRadius);

    // Create the chord path data generator for the chords
    var path = d3.svg.chord()
        .radius(innerRadius);

        var last_layout; // store layout between updates

        // Create number formatting functions
        var formatPercent = d3.format("%");
        var numberWithCommas = d3.format("0,f");

        // Initialize the visualization
        var g = d3.select("#chordDiagram").append("svg")
            .attr("id", "chordSvg")
            .attr("viewBox", viewBoxDimensions)
            .attr("preserveAspectRatio", "xMinYMid") 
            .append("g")
        .attr("id", "circle")
        .attr("overflow-x", "visible")
        .attr("transform",
            "translate(" + targetSize / 2 + "," + targetSize / 2 + ")");

    g.append("circle")
        .attr("r", outerRadius);
</script>